h1 {
  font-size: 30px;
  font-family: cursive;
}

h2 {
  font-size: 40px;
  font-style: bold;
  font-family: Verdana;
}

header {
  height: 75px;
  width: 900px;
}

header ul {
  display: inline-block;
}
header ul li {
  display: inline-block;
}

main {
  width: 900px;
}

#icons {
  float: right;
}

#instructions p {
  font-size: 19px;
  text-indent: 7mm;
  margin: 15px;
}

#title div{
  float: right;
}

#title div p {
  float: right;
}