h1 {
  font-size: 30px;
  font-family: cursive;
}

h2 {
  font-size: 40px;
  font-style: bold;
  font-family: Verdana;
}

header {
  height: 75px;
}

header ul {
  display: inline-block;
}
header ul li {
  display: inline-block;
}

#instructions p {
  text-indent: 10mm;
}